/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title:after {
    display: block;
    content: '';
    width: 253px;
    height: 2px;
    background: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 999;
    transition: .2s linear;
}

.header_active {
    background: #0E1D28;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 82px;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: .75;
}

.header-burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger-line-first {
    top: 0;
}

.burger-line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third {
    bottom: 0;
}

/* Header styles end */


/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro-title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 22px;
}

.intro-subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 60px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 153px;
}

.search-form-field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search-form-field::placeholder {
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
}

.search-form-submit {
    padding: 15px 39px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background: #1B7DFF;
    border: 0;
}

.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
    background: #0251b9;
}

/* Intro styles end */


/* Benefits styles start */

.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits-card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benifits-card-pic {
    margin-bottom: 37px;
    max-width: 66px;
}

.benifits-card-thumb {
    display: block;
}

.benefits-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits-card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
    padding-right: 5px;
}

.benefits-card-more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/arrow-ico.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits-card-more:hover,
.benefits-card-more:focus {
    background: url(../img/svg/arrow-ico.svg) no-repeat right center;
}

/* Benefits styles end */


/* Places styles start */

.places {
    margin-bottom: 131px;
}

.places-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places-title {
    margin-right: 15px;
}

.places-view-all {
    font-weight: 400;
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-ico.svg) no-repeat right center;
}

.places-view-all:hover,
.places-view-all:focus {
    opacity: .65;
}

.places-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.places-card {
    position: relative;
    overflow: hidden;
}

.places-card:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places-card:hover .places-card-pic {
    transform: scale(1.05);
}

.places-card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places-card-size-lg {
    grid-column: span 3;
}

.places-card-size-sm {
    grid-column: span 2;
}

.places-card-pic {
    width: 100%;
    transition: .15s all;
}

.places-card-pic-size-lg {
    height: 354px;
    object-fit: cover;
}

.places-card-pic-size-sm {
    height: 283px;
    object-fit: cover;
}

.places-card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

/* Places styles end */


/* Tours styles start */

.tours {
    margin-bottom: 139px;
}

.tours-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour-info {
    padding-left: 47px;
}

.tour-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour-more {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/svg/arrow-ico.svg) no-repeat right center;
}

.tour-more:hover,
.tour-more:focus {
    opacity: .65;
}

/* Tours styles end */


/* Top styles start */

.top {
    margin-bottom: 86px;
}

.top-card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 57px;
}

.top-card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top-title {
    margin-bottom: 54px;
}

.top-card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.top-card-title {
    font-size: 18px;
    margin: 0 auto 0 0;
}

.top-card-likes {
    padding-right: 20px;
    background: url(../img/svg/heart-ico.svg) no-repeat right;
    margin-right: 14px;
}

.top-card-comments {
    padding-right: 23px;
    background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top-card-desc {
    margin-bottom: 43px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}

.top-card-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #fff;
    padding: 12px 19px;
    background: #006DFE;
    width: 118px;
    margin-top: auto;
}

.top-card-more:hover,
.top-card-more:focus,
.top-card-more:active {
    background: #0251b9;
}

/* Top styles end */


/* Video styles start */

.video {
    width: 100%;
}

.video-wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.video-item {
    padding-top: 56.25%;
}

.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video styles end */


/* Footer styles start */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    width: 50%;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer-menu-item {
    margin-bottom: 4px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.footer-menu-title {
    color: #fff;
    font-size: 18px;
}

.footer-menu-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    opacity: .75;
}

/* Footer styles end */


/* Media start */

@media screen and (max-width: 960px) {
    .search-form-field {
        margin-bottom: 25px;
    }

    .benefits {
        margin-bottom: 75px;
    }

    .benefits-card {
        margin-bottom: 60px;
    }

    .benefits-cards {
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .benefits-title {
        padding: 55px 15px;
    }

    .benefits-wrap {
        box-shadow: none;
    }

    .places-card-size-lg,
    .places-card-size-sm {
        grid-column: span 6;
    }

    .tours-tour {
        gap: 0 35px;
    }

    .tour-info {
        padding-left: 0px;
    }

    .tour-title,
    .tour-desc {
        margin-bottom: 15px;
    }

    .top-cards {
        gap: 55px 25px;
    }

    .top-card {
        grid-column: span 3;
        align-items: center;
    }

    .top-card-pic {
        margin-bottom: 25px;
    }

    .top-card-stats {
        max-width: 386px;
    }

    .top-card-more {
        width: 100%;
        text-align: center;
    }

    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 767px) {

    .section-title {
        margin-bottom: 25px;
    }

    .section-title:after {
        width: 78px;
    }

    .header-burger {
        display: block;
    }

    .header-wrapper {
        padding-top: 28px;
    }

    .header-nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #0E1D28;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header-nav-active {
        transform: translateX(0);
    }

    .header-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header-item:last-child {
        margin-bottom: 0;
    }

    .header-link {
        font-size: 42px;
        line-height: 48px;
    }

    .header-nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 56px;
        right: 15px;
        z-index: 11;
    }

    .header-nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header-nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header-nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro {
        padding-top: 125px;
    }

    .intro-title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro-subtitle {
        font-size: 14px;
    }

    .search-form-field {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: transparent url(../img/svg/circle-ico.svg) no-repeat left top;
    }

    .search-form-field::placeholder {
        font-size: 16px;
    }

    .search-form-submit {
        width: 100%;
    }

    .benefits {
        margin-bottom: 36px;
    }

    .benefits-card {
        grid-column: span 3;
        margin-bottom: 40px;
    }

    .benifits-card-pic {
        margin-bottom: 20px;
    }

    .benefits-card-title {
        margin-bottom: 12px;
    }

    .benefits-card-desc {
        margin-bottom: 20px;
    }

    .places {
        margin-bottom: 76px;
    }

    .places-card-pic-size-lg,
    .places-card-pic-size-sm {
        height: 230px;
    }

    .places-view-all {
        margin-bottom: 25px;
    }

    .places-caption {
        margin-bottom: 0;
    }

    .tours {
        margin-bottom: 76px;
    }

    .tour-pic,
    .tour-info {
        grid-column: span 2;
    }

    .tour-pic {
        margin-bottom: 12px;
    }

    .tours-tour {
        margin-bottom: 50px;
        justify-items: center;
    }

    .tour-pic-mob-first {
        grid-row-start: -1;
    }

    .top {
        margin-bottom: 76px;
    }

    .top-card {
        grid-column: span 6;
    }

    .top-card-desc {
        margin-bottom: 15px;
    }

    .top-card-more {
        width: 60%;
    }

    .footer-logo {
        width: 100%;
        margin-bottom: 24px;
    }

    .footer-nav {
        width: 100%;
    }

    .footer-menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header-nav {
        padding: 75px 30px;
    }
}

/* Media end */