/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v24-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 82px;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: .75;
}

/* Header styles end */


/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 224px;
}

.intro-title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 22px;
}

.intro-subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 60px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 153px;
}

.search-form-field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search-form-field::placeholder {
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
}

.search-form-submit {
    padding: 15px 39px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background: #1B7DFF;
    border: 0;
}

.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
    background: #0251b9;
}

/* Intro styles end */


/* Benefits styles start */

.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits-card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benifits-card-pic {
    margin-bottom: 37px;
    max-width: 66px;
}

.benifits-card-thumb {
    display: block;
}

.benefits-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits-card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits-card-more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/arrow-ico.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits-card-more:hover, .benefits-card-more:focus {
    background: url(../img/svg/arrow-ico.svg) no-repeat right center;
}

/* Benefits styles end */